/*limpar formatação padrão.*/
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#left {
    background: rgb(1, 60, 116);
    width: 250px;
    height: 1250px;
}

#center {
    width: 670px;
    position: absolute;
    left: 250px;
    top: 0px;
}

/*Cor dos textos barra lateral*/
.título, .texto-lateral, h1 {
    color: rgb(226, 224, 224);
    margin-left: 10px;
    padding: 5px;
}

.título {
    background: rgb(0, 49, 93);
    margin-left: 0px;
    padding: 5px;
    padding-left: 10px;
}

.texto-lateral {
    font-size: 80%;
}

#intro {
    margin-left: 10px;
    margin-right: 10px;
    color: black;
    text-align: justify;
}

h2 {
    color: rgb(0, 49, 93);
    margin-left: 10px;
}

.período {
    color: grey;
    font-size: 80%;
    width: 90px;

    padding-bottom: 15px;
}

.cargo{
    color: rgb(36, 36, 35);
}

.descrição {
    color: rgb(49, 49, 49);
}

table {
    margin-left: 10px;
}

a:link {
    color: rgb(226, 224, 224);
    text-decoration: none;
}
a:visited {
    color: rgb(226, 224, 224);
    text-decoration: none;
}
a:hover {
    color: rgb(226, 224, 224);
    text-decoration: none;
}
a:active{
    color: rgb(226, 224, 224);
    text-decoration: none;
}


.lnk:link {
    color: grey;
    text-decoration: none;
}
.lnk:visited {
    color: grey;
    text-decoration: none;
}
.lnk:hover {
    color: grey;
    text-decoration: none;
}
.lnk:active{
    color: grey;
    text-decoration: none;
}