/*limpar formatação padrão.*/
* {
    margin: 0px;
    padding: 0px;
}

#left {
    background: rgb(1, 60, 116);
    width: 250px;
    height: 3000px;
}

#center {
    width: 670px;
    position: absolute;
    left: 250px;
    top: 0px;
}

/*Cor dos textos barra lateral*/
.título, p, h1 {
    color: rgb(226, 224, 224);
    margin-left: 10px;
    padding: 5px;
}

.título {
    background: rgb(0, 49, 93);
    margin-left: 0px;
    padding: 5px;
    padding-left: 10px;
}

p {
    font-size: 80%;
}

#intro {
    margin-left: 5px;
    margin-right: 5px;
    color: black;
    text-align: justify;
}